@import "app-variables";

.our-story-block {
  width: 538px;
  min-height: 230px;

  h2 {
    width: 135px;
    color: #413d4b;
    font-family: $Playfair-font;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }

  p {
    width: 538px;
    opacity: 0.75;
    color: #413d4b;
    font-family: $Roboto-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
  }
}