@import "app-variables";

.header {
  width: $main-width;
  min-height: $main-height;
  overflow: hidden;
  position: relative;

  h1 {
    flex-basis: $small-basis;
    box-sizing: border-box;
    height: 80px;
    padding-top: 26px;
    position: relative;
  }

  nav {
    flex-basis: $high-basis;

    a {
      text-decoration: none;
      height: 9px;
      color: $light-font-color;
      font-family: $Roboto-font;
      font-size: 13px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.33px;

      &:hover {
        color: #00e0d0;
      }
    }
  }

  header {
    margin-bottom: 135px;
  }
}

.header-logo {
  position: relative;
  color: $buttons-and-header-logo-color;
  font-family: $Roboto-font;
  font-size: 30px;
  font-weight: 100;
  padding-left: 55px;
  text-decoration: none;

  &:before {
    content: url("../images/logo.png");
    position: absolute;
    left: 0;
    top: 0;
    bottom: 5px;
  }
}

.about-us {
  width: 770px;
  margin: 50px auto;

  h2 {
    position: relative;
    text-align: center;
    font-family: $Playfair-font;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.32px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: $light-font-color;

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $buttons-and-header-logo-color;
    }
  }

  p {
    text-align: center;
    font-family: $Roboto-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: $light-font-color;
  }
}




