@import "app-variables";

.row-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.row-flex-between-not-align {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.row-flex-start {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.row-flex-around {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}