@import "app-variables";

.our-clients, .news-form {

  h2 {
    color: #413d4b;
    font-family: $Playfair-font;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
}

.news-form {
  flex-basis: $fifty-basis;
  min-height: $main-min-height;
  margin-top: 70px;

  h2 {
    margin-bottom: 60px;
  }

  p:not(:last-child) {
    padding-bottom: 23px;
  }

  input {
    width: 340px;
    height: 28px;
  }

  textarea {
    width: 340px;
    height: 200px;
    resize: none;
  }
}

.our-clients {
  flex-basis: $fifty-basis;
  min-height: $main-min-height;
  margin-top: 70px;

  ul {
    min-height: 450px;
    margin-top: 47px;
  }

  li {
    flex-basis: $fifty-basis;
  }
}

