//main-sizes
$main-width: 100%;
$main-height: 100vh;


//flex
$flex-display: flex;
$between: space-between;
$vertical-align: center;
$small-basis: 40%;
$high-basis: 60%;

//indents

//colors
$buttons-and-header-logo-color: #00e0d0;
$light-font-color: #ffffff;