@import "app-variables";

.about-us {
  width: 770px;
  margin: 50px auto;

  h2 {
    position: relative;
    text-align: center;
    font-family: $Playfair-font;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0.32px;
    padding-bottom: 20px;
    margin-bottom: 30px;

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: $buttons-and-header-logo-color;
    }
  }

  p {
    text-align: center;
    font-family: $Roboto-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.7px;
  }
}

.our-story {
  width: 538px;
  min-height: 230px;

  h2 {
    width: 135px;
    color: #413d4b;
    font-family: $Playfair-font;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }

  p {
    width: 538px;
    opacity: 0.75;
    color: #413d4b;
    font-family: $Roboto-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.42px;
  }
}
