@import "app-variables";

.footer-description, .our-contacts, .subscribe {
  margin-top: 80px;

  h2, p {
    color: $light-font-color;
    font-family: $Roboto-font;
    font-size: $p-font-size;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.35px;
  }
}

.footer-description {
  width: 283px;
}

.our-contacts {
  width: 267px;

  h2 {
    color: $light-font-color;
    font-family: $Roboto-font;
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  p {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      background-image: url("../images/point.png");
      width: 14px;
      height: 19px;
      left: -25px;
      top: 4px;
    }
  }

  p:last-child {
    position: relative;
    margin-top: 20px;

    &:before {
      position: absolute;
      content: "";
      background-image: url("../images/phone.png");
      width: 17px;
      height: 17px;
      left: -25px;
    }
  }
}

.subscribe {
  width: 291px;

  h2 {
    color: $light-font-color;
    font-family: $Roboto-font;
    font-size: 15px;
    font-weight: 900;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
  }

  input {

    &::placeholder {
      text-align: center;
    }

    &[type="email"] {
      background: none;
      width: 211px;
      height: 45px;
      border: 1px solid $light-font-color;
    }

    &[type="button"] {
      background: url("../images/mini-logo.png") $light-font-color no-repeat center;
      opacity: 0.5;
      border: none;
      width: 70px;
      height: 45px;
      cursor: pointer;
    }
  }

  ul {
    margin-top: 30px;

    li {
      position: relative;
      width: 35px;
      height: 35px;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.facebook:before {
  position: absolute;
  content: "";
  background-image: url("../images/social-icon-1.png");
  width: 7px;
  height: 15px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.twitter:before {
  position: absolute;
  content: "";
  background-image: url("../images/social-icon-2.png");
  width: 14px;
  height: 11px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.dribble:before {
  position: absolute;
  content: "";
  background-image: url("../images/social-icon-3.png");
  width: 16px;
  height: 16px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.insta:before {
  position: absolute;
  content: "";
  background-image: url("../images/social-icon-4.png");
  width: 15px;
  height: 15px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.google-plus:before {
  position: absolute;
  content: "";
  background-image: url("../images/social-icon-5.png");
  width: 15px;
  height: 15px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.youtube:before {
  position: absolute;
  content: "";
  background-image: url("../images/social-icon-6.png");
  width: 17px;
  height: 11px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.site-footer {
  margin-top: 200px;
  width: 100%;
  color: $light-font-color;
  font-family: $Roboto-font;
  font-size: $p-font-size;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.35px;

  a{
    text-decoration: none;
    color: $light-font-color;
  }

  li:not(:last-child) {
    margin-right: 30px;
  }
}