@import "app-variables";

.our-works {

  h2, a {
    margin-top: 70px;
  }

  h2 {
    width: 142px;
    height: 16px;
    color: #413d4b;
    font-family: $Playfair-font;
    font-size: $h2-font-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }

  button {
    margin-left: calc(50% - 67.5px);
  }
}

.see-all-projects {
  position: relative;
  width: 173px;
  height: 14px;
  color: #413d4b;
  font-family: $Roboto-font;
  font-size: $p-font-size;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-decoration: none;

  &:after {
    position: absolute;
    content: "";
    background-image: url("../images/right.png");
    width: 8px;
    height: 13px;
    right: -20px;
  }
}

.our-works-list {
  margin-top: 157px;
  margin-bottom: 85px;

  li {
    width: 267px;
    height: 200px;
  }
}