@import "app-variables";

.row-flex-between {
  display: $flex-display;
  justify-content: $between;
  align-items: $vertical-align;
  flex-wrap: wrap;
}

.row-flex-between-not-align {
  display: $flex-display;
  justify-content: $between;
  flex-wrap: wrap;
}

.row-flex-center {
  display: $flex-display;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.row-flex-around {
  display: $flex-display;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}