@import "app-variables";

.expertise {
  position: relative;
  margin: auto;
  width: 538px;
  text-align: center;

  h2 {
    margin-top: 70px;
    color: #413d4b;
    font-family: $Playfair-font;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 16px;
  }

  p {
    height: 15px;
    opacity: 0.75;
    color: #2f2d35;
    font-family: $Playfair-font;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    padding-bottom: 18px;

    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #413d4b;
    }
  }
}

.expertise-list {
  margin: 50px;

  li {
    position: relative;
    width: 320px;
    height: 250px;
    padding: 32px;
    flex-basis: 33.3%;
    box-sizing: border-box;
    text-align: center;

    h3 {
      position: absolute;
      width: 212px;
      top: 117px;
      color: #413d4b;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.7px;
    }

    p {
      position: absolute;
      width: 212px;
      top: 152px;
      opacity: 0.75;
      color: #333333;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;

      letter-spacing: 0.7px;
    }

    &:first-child {
      border-right: 1px solid #a9a9a9;
      border-bottom: 1px solid #a9a9a9;
    }

    &:nth-child(2) {
      border-right: 1px solid #a9a9a9;
      border-bottom: 1px solid #a9a9a9;
    }

    &:nth-child(3) {
      border-bottom: 1px solid #a9a9a9;
    }
  }
}