@import "app-variables";

.little-section {
  position: relative;
  width: $main-width;
  min-height: 350px;
  margin-top: 70px;

  h2 {
    margin-bottom: 30px;
  }
}

.big-section {
  position: relative;
  width: $main-width;
  min-height: $main-height;
  overflow: hidden;
  box-sizing: border-box;
}

.gradient:before {
  position: absolute;
  content: "";
  background-image: $gradient;
  width: $main-width;
  min-height: $main-height;
  opacity: $opacity;
}

.small-gradient:before {
  position: absolute;
  content: "";
  background-image: $gradient;
  width: $main-width;
  min-height: 100%;
  opacity: $opacity;
}