//main-sizes
$main-width: 100%;
$main-height: 100vh;

//flex
$flex-display: flex;
$between: space-between;
$vertical-align: center;
$small-basis: 40%;
$fifty-basis: 50%;
$high-basis: 60%;

//fonts
$Hammersmith-font: "Hammersmith One", sans-serif;
$Playfair-font: "Playfair Display", sans-serif;
$Roboto-font: "Roboto", sans-serif;

//colors
$buttons-and-header-logo-color: #00e0d0;
$light-font-color: #ffffff;
$gradient: linear-gradient(to right, #09052f 0%, #311d5e 100%);