@import "app-variables";

.our-clients, .news-form {

  h2 {
    color: $purple;
    font-family: $Playfair-font;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
  }
}

.news-form {
  flex-basis: $fifty-basis;
  min-height: $main-min-height;
  margin-top: 70px;

  h2 {
    margin-bottom: 60px;
  }

  p:not(:last-child) {
    padding-bottom: 23px;
  }

  input {
    width: 340px;
    height: 28px;
    padding: 10px 21px;

    &::placeholder {
      opacity: 0.5;
      color: $purple;
      font-family: $Roboto-font;
      font-size: $p-font-size;
      font-weight: 300;
      letter-spacing: 0.7px;
    }
  }

  textarea {
    width: 340px;
    height: 200px;
    resize: none;
    padding: 10px 21px;

    &::placeholder {
      opacity: 0.5;
      color: $purple;
      font-family: $Roboto-font;
      font-size: $p-font-size;
      font-weight: 300;
      letter-spacing: 0.7px;
    }
  }
}

.our-clients {
  flex-basis: $fifty-basis;
  min-height: $main-min-height;
  margin-top: 70px;

  ul {
    min-height: 450px;
    margin-top: 47px;
  }

  li {
    flex-basis: $fifty-basis;

    p{
      text-align: center;
    }
  }
}

