//main-sizes
$main-section-width: 100%;
$main-section-min-height: 100vh;
$wrapper-width: 940px;

//flex
$flex-display: flex;
$between: space-between;
$vertical-align: center;
$small-basis: 40%;
$high-basis: 60%;

//indents
$basic-margin-top: 36px;