@import "app-variables";

.header {
  width: $main-width;
  min-height: $main-height;
  overflow: hidden;
  position: relative;

  h1 {
    flex-basis: $small-basis;
    box-sizing: border-box;
    height: 80px;
    padding-top: 26px;
    position: relative;
  }

    &:before {
      position: absolute;
      background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
      width: 100%;
      min-height: 100vh;
      opacity: 0.85;
  }

  nav {
    flex-basis: $high-basis;
  }

  header {
    margin-bottom: 135px;
  }
}

.header-logo {
  color: $buttons-and-header-logo-color;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding-left: 55px;
  text-decoration: none;

  &:before {
    content: url("../images/logo.png");
    position: absolute;
    left: 0;
    bottom: 5px;

  }
}


