@import "app-variables";

.row-flex-between {
  display: $flex-display;
  justify-content: $between;
  align-items: $vertical-align;
  flex-wrap: wrap;
}

.row-flex-center {
  display: $flex-display;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}