/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,900");
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_app-header.scss */
.header {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
/* line 9, ../sass/_app-header.scss */
.header h1 {
  flex-basis: 40%;
  box-sizing: border-box;
  height: 80px;
  padding-top: 26px;
  position: relative;
}
/* line 17, ../sass/_app-header.scss */
.header:before {
  position: absolute;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  width: 100%;
  min-height: 100vh;
  opacity: 0.85;
}
/* line 25, ../sass/_app-header.scss */
.header nav {
  flex-basis: 60%;
}
/* line 29, ../sass/_app-header.scss */
.header header {
  margin-bottom: 135px;
}

/* line 34, ../sass/_app-header.scss */
.header-logo {
  color: #00e0d0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  padding-left: 55px;
  text-decoration: none;
}
/* line 42, ../sass/_app-header.scss */
.header-logo:before {
  content: url("../images/logo.png");
  position: absolute;
  left: 0;
  bottom: 5px;
}

/* line 3, ../sass/_app-wrapper.scss */
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 940px;
  margin: auto;
}

/* line 3, ../sass/_app-flexbox.scss */
.row-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 3, ../sass/_app-image.scss */
.big-image {
  width: auto;
  min-height: 100vh;
}

/* line 3, ../sass/_app-section-title.scss */
.section-title {
  width: 770px;
  height: 150px;
  margin: auto;
}
/* line 8, ../sass/_app-section-title.scss */
.section-title h2 {
  position: relative;
  text-align: center;
  color: #ffffff;
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.32px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
/* line 19, ../sass/_app-section-title.scss */
.section-title h2:after {
  position: absolute;
  content: "";
  background-color: #00e0d0;
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 32, ../sass/_app-section-title.scss */
.section-title p {
  text-align: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
}
